/* Animations */

.anim {
  animation: anim 1s ease-out 0s 1;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

@keyframes anim {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

.mar {
  margin: 70px;
  margin-top: 40px;
  border-bottom: 2px solid black;
  /* box-shadow: 5px 10px 18px #888888; */
}

.head {
  color: #738182;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}
.flex_arrange {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 2px solid white;
  /* flex-wrap: wrap; */
  /* box-shadow: 5px 10px 18px #888888; */
}

.flex_arrange2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  border: 2px solid white;
  /* flex-wrap: wrap; */
  /* box-shadow: 5px 10px 18px #888888; */
}

.img_adjs {
  /* height: 150px; */
  border-radius: 50%;
  border: rgb(1, 146, 201) solid 5px;
  margin-right: 50px;
  margin-left: 50px;
}

.para {
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #738182;
  font-weight: 600;
  /* font-size: 1.2em; */
  /* margin-bottom: 1.8em; */
}

.flex_col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.website {
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, color 0.2s 0.3s;
  letter-spacing: 0;
  border: 2px solid rgb(1, 146, 201);
  border-radius: 45px;
  height: auto;
  padding: 0.8em 2.1em;
  color: #738182;
}
.website:hover {
  background: rgb(1, 146, 201);
  color: white;
}

.flex_btn_adj {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.span {
  color: red;
}

@media only screen and (max-width: 700px) {
  .img_adjs {
    width: 100px;
    height: 100px;
  }
}
